.footer {
    margin-top: 120px;
    border-top: 1px solid #e4e4e4;
    background: #f6f6f6;
    padding: clamp(40px, 4vw, 60px) 40px;
}

/* TOP */

.top {
    max-width: 1360px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 433px 433px 1fr 1fr;
    gap: 40px;
}

/* COLUMN */

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* TEXT */

.label {
    font-size: 18px;
    color: #6c6c6c;
}

.address {
    font-family: "Unbounded";
    font-size: clamp(20px, 2vw, 24px);
    font-weight: 500;
    line-height: 120%;
    color: #282828;
}

.email {
    font-size: 20px;
    font-weight: 600;
    color: #282828;
    text-decoration: none;
}

.phone {
    font-size: 20px;
    font-weight: 600;
    color: #282828;
    text-decoration: none;
}

/* MAP */

.map {
    width: 433px;
    height: 262px;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* MENU */

.menuTitle {
    font-size: 20px;
    font-weight: 500;
    color: #282828;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 16px;
        cursor: pointer;
        color: #282828;
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
    }

    .active {
        color: #0863ad;
    }
}



/* BOTTOM */

.subBottom {
    max-width: 1360px;
    margin: 40px auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    max-width: 1360px;
    margin: 40px auto 0;

    span {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        color: #6c6c6c;
    }
}

/* BRAND */

.brand {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
        font-size: 18px;
        font-weight: 500;
        color: #0863ad;
    }
}

/* SOCIALS */

.socials {
    display: flex;
    gap: 10px;
}

.social {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #e4e4e4;
}

.yellow {
    background: #ffd427;
    border: none;
}

/* COPYRIGHT */

.copy {
    justify-self: end;
    font-size: 16px;
    color: #6c6c6c;
    text-align: right;
}

/* RESPONSIVE */

@media (max-width: 1100px) {
    .top {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .top {
        grid-template-columns: 1fr;
    }

    .map {
        width: 100%;
    }

    .bottom {
        grid-template-columns: 1fr;
        gap: 20px;
        text-align: center;
    }

    .copy {
        justify-self: center;
    }
}