.footer {
    border-top: 1px solid #e4e4e4;
    background: #f6f6f6;
}

/* TOP */

.top {
    max-width: 1360px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0, 433px) minmax(0, 433px) 1fr 1fr;
    gap: 40px;
    padding: clamp(40px, 4vw, 60px) clamp(20px, 4vw, 40px);
}

/* COLUMN */

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 0;
}

/* TEXT */

.label {
    font-size: 18px;
    color: #6c6c6c;
}

.address {
    font-family: "Unbounded";
    font-size: clamp(20px, 2vw, 24px);
    font-weight: 500;
    line-height: 120%;
    color: #282828;
}

.email {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 600;
    color: #282828;
    text-decoration: none;
}

.phone {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 600;
    color: #282828;
    text-decoration: none;
}

/* MAP */

.map {
    width: 100%;
    max-width: 433px;
    height: 262px;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
    overflow: hidden;

    .mapEmbed {
        width: 100%;
        height: 100%;
        display: block;

        iframe {
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    iframe {
        width: 100%;
        height: 100%;
        display: block;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* MENU */

.menuTitle {
    font-size: 20px;
    font-weight: 500;
    color: #282828;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        font-size: clamp(16px, 2vw, 20px);
        line-height: 1;
        margin-bottom: 16px;
        cursor: pointer;
        color: #282828;
        font-family: Inter, sans-serif;
        font-weight: 500;
    }

    .active {
        color: #0863ad;
    }
}



/* BOTTOM */

.subBottom {
    max-width: 1360px;
    margin: 40px auto 0;
    padding: 0 clamp(20px, 4vw, 40px);
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom {
    display: flex;
    padding: 0 clamp(20px, 4vw, 40px);
    padding-bottom: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    max-width: 1360px;
    margin: 40px auto 0;

    span,a {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-size: clamp(14px, 1.5vw, 16px);
        color: #6c6c6c;
    }
}

/* BRAND */

.brand {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
        font-size: 18px;
        font-weight: 500;
        color: #0863ad;
    }
}

/* SOCIALS */

.socials {
    display: flex;
    gap: 10px;
}

.social {
    width: clamp(44px, 10vw, 50px);
    height: clamp(44px, 10vw, 50px);
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #e4e4e4;
    transition: all 0.3s ease;

    &:hover {
        background: #ffd427;
        border: transparent;
    }
}

/* COPYRIGHT */

.copy {
    justify-self: end;
    font-size: 16px;
    color: #6c6c6c;
    text-align: right;
}

/* WORKING HOURS */

.workingHours {
    font-size: 16px;
    font-weight: 500;
}

/* RESPONSIVE */

@media (max-width: 1370px) {
    .top {
        grid-template-columns: 1fr 1fr;
    }

    .map {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .subBottom {
        flex-direction: column;
        gap: 24px;
        text-align: center;
    }

    .bottom {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 640px) {
    .top {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .map {
        max-width: 100%;
        height: 220px;
    }

    .label {
        font-size: 16px;
    }
    .links {
        display: none;
        
    }
}