.about {
    width: 100%;
    padding: 0 40px;
    max-width: 1360px;
    margin: 0 auto;
}

/* === TOP BLOCK === */

.top {
    display: flex;
    gap: 40px;
}

/* LEFT CONTENT */

.content {
    width: 665px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-family: "Unbounded";
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #282828;
}

.textPrimary {
    font-family: "Inter";
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #282828;
}

.textSecondary {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #6c6c6c;
}

/* STATS */

.stats {
    width: 665px;
    height: 95px;
    display: flex;
    gap: 30px;
}

.stat {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.statValue {
    font-weight: 500;
    font-size: 42px;
    color: #0863ad;
}

.statLabel {
    font-family: "Inter";
    font-size: 16px;
    color: #6c6c6c;
}

/* ACTIONS */

.actions {
    display: flex;
    gap: 15px;
}

.btnText {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: #0863AD;
}

/* RIGHT IMAGE */

.imageWrapper {
    width: 665px;
    height: 437px;
    border-radius: 30px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}