.contentCard {
    max-width: 1360px;
    margin: clamp(24px, 4vw, 40px) auto 0;
    padding: clamp(20px, 4vw, 40px);
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: clamp(24px, 4vw, 40px);
}

.layout {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3vw, 30px);
}

@media (min-width: 850px) {
    .layout {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr;
        gap: clamp(20px, 3vw, 30px);
        align-items: start;
    }

    .layout :global([data-layout="gallery"]) {
        grid-column: 1;
        grid-row: 1 / -1;
    }

    .layout :global([data-layout="title"]),
    .layout :global([data-layout="description"]),
    .layout :global([data-layout="features"]) {
        grid-column: 2;
        max-width: 665px;
    }

    .layout :global([data-layout="title"]) {
        grid-row: 1;
    }

    .layout :global([data-layout="description"]) {
        grid-row: 2;
    }

    .layout :global([data-layout="features"]) {
        grid-row: 3;
    }
}
