.contentCard {
    max-width: 1360px;
    margin: 40px auto 0;
    padding: 40px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 40px;
}

.layout {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
