.wrapper {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.vacancies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(433px, 1fr));
    margin-top: 40px;
    width: 100%;
    gap: 30px;
}

.button {
    margin-top: 40px;
    color: #0863AD;
}

.buttonIcon {
    transform: rotate(90deg);
}