.wrapper {
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0 clamp(20px, 4vw, 40px);
    padding-bottom: 50px;
}

.vacancies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(19.188rem, 17.777rem + 6.02vw, 25rem), 1fr));
    margin-top: 40px;
    width: 100%;
    gap: 30px;
}

.button {
    margin-top: 40px;
    color: #0863AD;
}

.buttonIcon {
    transform: rotate(90deg);
}