.root {
    background: #f6f6f6;
    min-height: 100%;
    margin-top: 50px;
}

.skeletonHero {
    width: 100%;
    aspect-ratio: 1029 / 370;
    border-radius: clamp(16px, 2.5vw, 25px);
}

.skeletonDesc {
    margin-top: 40px;
    height: 120px;
    border-radius: 8px;
}

.content {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 0 clamp(20px, 4vw, 40px);
}

@media (max-width: 768px) {
    .content {
        // padding: 0 20px;
    }
}

.description {
    margin-top: 40px;
}

.root :global(section) {
    margin-top: 80px;
}