.root {
    width: 317px;
    background: #ffffff;
    border-radius: 20px;
    padding: 24px;
    
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.categoryBtn {
    background: none;
    border: none;
    font-size: 18px;
    color: #282828;
    cursor: pointer;
}

.active {
    color: #0863ad;
}

.subList {
    margin-top: 12px;
    padding-left: 8px;
}

.checkbox {
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: #9d9d9d;
}