.mapSection {
    max-width: 1360px;
    margin: 0 auto;
    width: 100%;
}

.title {
    font-family: Unbounded;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.map {
    border-radius: 30px;
    border: none;
}