.news {
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 180px;
}

/* HEADER */

.header {
    width: 600px;
    margin: 0 auto 40px;
    text-align: center;
}

.title {
    font-family: "Unbounded";
    font-size: 32px;
    font-weight: 600;
    color: #282828;
}

.subtitle {
    margin-top: 12px;
    font-family: "Inter";
    font-size: 18px;
    color: #6c6c6c;
}

/* SLIDER */

.sliderWrap {
    position: relative;
}

/* CARD */

.card {
    width: 433px;
}

.imageWrap {
    width: 433px;
    height: 256px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 16px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.date {
    font-size: 18px;
    color: #9d9d9d;
}

.cardTitle {
    margin: 8px 0;
    font-size: 20px;
    font-weight: 600;
    color: #282828;
}

.link {
    font-size: 18px;
    color: #3882e3;
}

/* NAV BUTTONS */

.navBtn {
    position: absolute;
    top: 100px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: Yellow;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #0000001A;
    justify-content: center;
    z-index: 1;

    &:global(.swiper-button-disabled) {
        angle: 0 deg;
        opacity: 0.7;
        background: white;
        pointer-events: none;
    }
}

.next {
    right: -40px;
    transform: rotate(0deg);
}

.prev {
    left: -30px;
}

/* PAGINATION */

.pagination {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    width: 100%;

    :global(.swiper-pagination-bullet) {
        width: 10px;
        height: 10px;
        background: #d9d9d9;
        opacity: 1;
    }

    :global(.swiper-pagination-bullet-active) {
        background: #0863ad;
    }
}

/* ACTION */

.actions {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.outlineBtn {
    height: 60px;
    padding: 5px 5px 5px 20px;
    border-radius: 30px;
    border: 1px solid #0863ad;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    cursor: pointer;
    color: #0863ad;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    margin-top: 10px;
}

.iconCircle {
    width: 50px;
    height: 50px;
    background: #ffd427;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}