.wrapper {
    margin-top: clamp(120px, 10vw, 180px);
    padding: 0 40px;
    margin-bottom: 150px;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    background: #0863ad;
    border-radius: 25px;
    padding: clamp(24px, 4vw, 40px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(20px, 4vw, 30px);

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }

    background-image: url('../../../../public/icons/logo-bg.png');
    background-repeat: no-repeat;
    background-position: 0 180px;
    background-size: 382px 415px;
}

/* LEFT */

.info {
    position: relative;
    color: #fff;
}

.title {
    font-family: "Unbounded";
    font-size: clamp(24px, 3vw, 32px);
    font-weight: 600;
}

.socialBlock {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.block {
    margin-top: 20px;

    a,
    p {
        display: block;
        font-size: clamp(14px, 2vw, 16px);
        font-weight: 500;
    }
}

.label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: #62adea;
}

.socialsLabel {
    margin-top: 18px;
}

.socials {
    display: flex;
    gap: 10px;
    // margin-top: 20px;

    .icon {
        padding: 13px;
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 50%;
        cursor: pointer;
        border: none;
    }
}

.bgLogo {
    position: absolute;
    bottom: -40px;
    left: -40px;
    width: 382px;
    height: 415px;
    opacity: 0.1;
    background: url("/logo.svg") no-repeat center / contain;
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formTitle {
    font-family: "Unbounded";
    font-size: clamp(24px, 3vw, 32px);
    font-weight: 600;
    color: #fff;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    @media (max-width: 640px) {
        grid-template-columns: 1fr;
    }
}

.form {

    input,
    textarea {
        width: 100%;
        height: 59px;
        padding: 0 20px;
        border-radius: 100px;
        border: 1px solid #62adea;
        color: #62ADEA;
        background: transparent;
        font-size: 16px;
        outline: none;

        &::placeholder {
            color: #62ADEA;
            opacity: 1;
            font-family: Inter;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
        }
    }

    textarea {
        height: 120px;
        border-radius: 20px;
        padding-top: 16px;
        resize: vertical;
    }
}

.submit {
    height: 64px;
    border-radius: 30px;
    background: #ffd427;
    border: none;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.submitIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffd427;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        path {
            stroke: black;
        }
    }
}