.root {
    max-width: 1360px;
    margin: 180px auto 0;
}

.sliderWrap {
    position: relative;
    margin-top: 30px;
}

.card {
    width: 100%;
    margin: 0 auto;
    border-radius: 25px;
    border: 1px solid #e4e4e4;
    background: #fff;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* NAV */

.navBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffd427;
    border: none;
    cursor: pointer;
    z-index: 10;
    box-shadow: 0px 0px 10px 0px #0000001A;
    display: flex;
    align-items: center;
    justify-content: center;

    &:global(.swiper-button-disabled) {
        angle: 0 deg;
        opacity: 0.7;
        background: white;
        pointer-events: none;
    }
}

.prev {
    left: 15px;
    transform: translateY(-50%) rotate(180deg);
}

.next {
    right: 15px;
}

/* PAGINATION */

.pagination {
    margin-top: 24px;
    display: flex;
    justify-content: center;

    :global(.swiper-pagination-bullet) {
        width: 10px;
        height: 10px;
        background: #d9d9d9;
        opacity: 1;
    }

    :global(.swiper-pagination-bullet-active) {
        background: #0863ad;
    }
}