.machines {
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 180px !important;
}

/* HEADER */

.header {
    width: 600px;
    margin: 0 auto 40px;
    text-align: center;
}

.title {
    font-family: "Unbounded";
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #282828;
}

.subtitle {
    margin-top: 12px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 100%;
    color: #6c6c6c;
}

/* CARDS */

.cards {
    display: flex;
    gap: 40px;
}

/* CARD */

.card {
    position: relative;
    width: 665px;
    height: 360px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(8, 100, 171, 0.1);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* OVERLAY */

.overlay {
    position: absolute;
    inset: 0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // background: linear-gradient(180deg,
    //         rgba(56, 130, 227, 0) 0%,
    //         rgba(56, 130, 227, 1) 100%);
    background: linear-gradient(355.63deg, rgba(56, 130, 227, 0) 3.17%, #3882E3 96.1%);

    h3 {
        font-family: Unbounded;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 32px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: #fff;
    }

    p {
        color: #fff;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        margin-top: 15px;

    }
}

/* BUTTON */

.cardBtn {
    align-self: flex-end;

    height: 60px;
    padding: 5px 5px 5px 20px;

    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 30px;
    border: 1px solid #ffffff;
    background: transparent;

    font-family: "Inter";
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    background: #ffd427;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}