.wrapper {
    max-width: 1360px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 317px;
    gap: 40px;
    align-items: flex-start;
    padding: 0 clamp(20px, 4vw,40px);
    margin-top: 60px;
    margin-bottom: 50px !important;
}

@media (max-width: 1024px) {
    .wrapper {
        grid-template-columns: 1fr;
    } 
}