.card {
    width: 260px;
    display: flex;
    flex-direction: column;
}

/* IMAGE */

.imageWrap {
    width: 260px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 16px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* NAME */

.name {
    width: 260px;
    margin-bottom: 6px;

    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0;
    color: #282828;
}

/* POSITION */

.position {
    width: 260px;

    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    color: #9d9d9d;
}