.card {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-self: center;
    transition: all 0.3s ease;
    &:hover {
        transform: translateY(-5px);
    }
}

/* IMAGE */

.imageWrap {
    width: 100%;
    aspect-ratio: 260 / 300;
    border-radius: clamp(16px, 4vw, 25px);
    overflow: hidden;
    margin-bottom: clamp(12px, 2vw, 16px);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* NAME */

.name {
    width: 100%;
    margin-bottom: 6px;

    font-family: "Inter";
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0;
    color: #282828;
}

/* POSITION */

.position {
    width: 100%;

    font-family: "Inter";
    font-size: clamp(14px, 2.5vw, 18px);
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0;
    color: #9d9d9d;
}