@use '/src/shared/styles/variables' as *;

.hero {
    width: 100%;
    height: 800px;

    :global(.swiper),
    :global(.swiper-wrapper),
    :global(.swiper-slide) {
        height: 100%;
    }

    :global(.swiper-pagination) {
        bottom: 14px;
    }

    :global(.swiper-pagination-bullet) {
        width: 6px;
        height: 6px;
        background: rgba(255, 255, 255, 0.5);
        opacity: 1;
    }

    :global(.swiper-pagination-bullet-active) {
        background: #0863ad;
    }
}

.slide {
    position: relative;
    height: 100%;
    background: url("/images/hero.png");
    background-size: cover;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.content {
    z-index: 2;
    height: 100%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: #ffffff;

    @media (min-width: 1440px) {
        max-width: 1360px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
}

/* Subtitle */
.subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
}

/* Title */
.title {
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-size: clamp(2rem, 1.848rem + 0.65vw, 2.625rem);
    line-height: 100%;
    text-align: center;
    margin: 0;
}

/* Actions */
.actions {
    display: flex;
    gap: clamp(0.313rem, 0.161rem + 0.65vw, 0.938rem);
}

/* Primary button */
.primaryBtn {
    height: clamp(3.125rem, 2.973rem + 0.65vw, 3.75rem);
    border-radius: 30px;
    background: #0863ad;
    color: #ffffff;
    border: none;

    padding: 5px 5px 5px clamp(0.313rem, 0.085rem + 0.97vw, 1.25rem);
    display: flex;
    align-items: center;
    gap: clamp(0.313rem, 0.161rem + 0.65vw, 0.938rem);

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.btnText {
    font-size: clamp(0.75rem, 0.689rem + 0.26vw, 1rem);
}
/* Secondary button */
.secondaryBtn {
    height: clamp(3.125rem, 2.973rem + 0.65vw, 3.75rem);
    border-radius: 30px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;

    padding: 5px 5px 5px clamp(0.313rem, 0.085rem + 0.97vw, 1.25rem);
    display: flex;
    align-items: center;
    gap: clamp(0.313rem, 0.161rem + 0.65vw, 0.938rem);

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

/* Icon circle */
.iconCircle {
    width: clamp(2.5rem, 2.348rem + 0.65vw, 3.125rem);
    height: clamp(2.5rem, 2.348rem + 0.65vw, 3.125rem);
    border-radius: 50%;
    background: #ffd600;

    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
        width: 24px;
        height: 24px;
        fill: $blue-primary;
    }
}