@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900&subset=cyrillic,latin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&subset=cyrillic,latin&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: system-ui, -apple-system, sans-serif;
  scroll-behavior: smooth;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.inter {
  font-family: 'Inter', sans-serif;
}