.root {
    padding: 0 40px;
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 180px;

    :global(.swiper-wrapper) {
        transition-timing-function: linear !important;
    }
}

.header {
    width: 600px;
    margin: 0 auto 40px;
    text-align: center;

    h2 {
        font-family: "Unbounded";
        font-size: 32px;
        font-weight: 600;
        color: #282828;
    }

    p {
        margin-top: 12px;
        font-family: "Inter";
        font-size: 18px;
        color: #6c6c6c;
    }
}

.card {
    width: 433px;
    height: 256px;
    border-radius: 25px;
    border: 1px solid #e4e4e4;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 70%;
        max-height: 70%;
        object-fit: contain;
    }
}