.page {
    padding: 40px 0;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(19.188rem, 17.777rem + 6.02vw, 25rem), 1fr));
    gap: 20px;
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 50px;
    padding: 0 clamp(20px, 4vw, 40px);
}

.card {
    width: 100%;
}

.imageWrap {
    width: 100%;
    height: 256px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 16px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.date {
    font-size: 18px;
    color: #9d9d9d;
}

.cardTitle {
    margin: 8px 0;
    font-size: 20px;
    font-weight: 600;
    color: #282828;
}

.link {
    font-size: 18px;
    color: #3882e3;
}

.paginationWrapper {
    margin-top: clamp(24px, 4vw, 40px);
    display: flex;
    justify-content: center;
}