.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(433px, 1fr));
    gap: 20px 0;
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 40px;
}

.card {
    width: 433px;
}

.imageWrap {
    width: 433px;
    height: 256px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 16px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.date {
    font-size: 18px;
    color: #9d9d9d;
}

.cardTitle {
    margin: 8px 0;
    font-size: 20px;
    font-weight: 600;
    color: #282828;
}

.link {
    font-size: 18px;
    color: #3882e3;
}