.header {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-family: "Unbounded";
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #282828;
}

.subtitle {
    margin-top: 12px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 100%;
    color: #6c6c6c;
}