.actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media screen and (min-width: 1024px) {
        margin-top: 58px;
    }
    @media (max-width: 1024px) {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap-reverse;
    }
}

.share {
    height: 54px;
    border-radius: 30px;
    border: 1px solid #0863ad;
    background: transparent;
    color: #0863ad;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
}

.apply {
    height: 60px;
    border-radius: 30px;
    background: #0863ad;
    color: #ffffff;
    border: none;
    padding-left: 24px;
    padding-right: 6px;

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 52px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}

.arrow {
    width: 50px;
    height: 50px;
    background: #ffd427;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}