.root {
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 140%;
  color: #282828;
}

.block {
  margin-top: clamp(16px, 2vw, 20px);

  &:first-child {
    margin-top: 0;
  }

  strong {
    font-weight: 600;
    color: inherit;
  }

  em {
    font-style: italic;
  }

  a {
    color: #3882e3;
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover {
      text-decoration: none;
    }
  }

  ul,
  ol {
    margin: 0.5em 0;
    padding-left: 1.5em;
  }

  li {
    margin-bottom: 0.25em;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em 0;
    border-radius: 8px;
  }
}
